h2 Order Document
form(method='post', action='https://pguat.paytm.com/oltp-web/processTransaction?orderid='+paytmPostParams.ORDER_ID)
    each value, key in paytmPostParams
        input(name=key, value=value, type='text')
    input(type='submit',value='process')
