doctype html
html
    head
        title Paytm
        script(type="javascript").
            function response() {return document.getElementById('response').value}
    body
        p Transaction processed redirecting back to app<br>
        form(method='post' name='frm')
            input(id='response', name='responseField', value=callback_data, type='hidden')